@media screen and (min-width: 960px) {
  .examples, .features, .flow, .contact {
    max-width: 900px;
  }
}
.examples__title, .features__title, .flow__title, .contact__title {
  position: relative;
  display: block;
  color: #121212;
  font-size: 20px;
  font-weight: bold;
  padding-top: 63px;
  margin-bottom: 37px;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .examples__title, .features__title, .flow__title, .contact__title {
    padding-top: 85px;
    font-size: 28px;
  }
}
.examples__title::before, .features__title::before, .flow__title::before, .contact__title::before {
  content: "";
  position: absolute;
  top: 77px;
  left: 0;
  width: 17.9%;
  height: 1px;
  background-color: #121212;
}
@media screen and (min-width: 960px) {
  .examples__title::before, .features__title::before, .flow__title::before, .contact__title::before {
    top: 103px;
  }
}
.examples__title::after, .features__title::after, .flow__title::after, .contact__title::after {
  content: "";
  position: absolute;
  top: 77px;
  right: 0;
  width: 17.9%;
  height: 1px;
  background-color: #121212;
}
@media screen and (min-width: 960px) {
  .examples__title::after, .features__title::after, .flow__title::after, .contact__title::after {
    top: 103px;
  }
}

a {
  text-decoration: none;
  color: #121212;
}

@media screen and (min-width: 960px) {
  .visible-sp {
    display: none;
  }
}

.visible-pc {
  display: none;
}
@media screen and (min-width: 960px) {
  .visible-pc {
    display: block;
  }
}

#container {
  position: relative;
}
@media screen and (min-width: 960px) {
  #container {
    display: flex;
  }
}

.cover-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #121212;
  z-index: 15;
  opacity: 0.8;
  cursor: pointer;
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 72px;
  padding: 0 18px;
  z-index: 20;
}
@media screen and (min-width: 960px) {
  .header {
    position: static;
    width: 300px;
  }
}
.header .logo .logo_img {
  width: 180px;
}
.header .hamburger {
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  .header .hamburger {
    display: none;
  }
}
.header .hamburger .line {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #121212;
}
.header .hamburger .line:first-child {
  margin-bottom: 8px;
}
.header .hamburger .line:last-child {
  margin-top: 8px;
}
.header .navigation {
  z-index: 50;
  top: 0;
  left: -300px;
  position: absolute;
  height: 100vh;
  width: 300px;
  padding: 25px;
  background-color: white;
  opacity: 0;
  transition: all 0.5s ease;
}
.header .navigation h1 {
  margin-bottom: 41px;
}
.header .navigation .category, .header .navigation .sns {
  list-style: none;
  padding-left: 0;
}
.header .navigation .category:first-of-type, .header .navigation .sns:first-of-type {
  margin-bottom: 84px;
}
.header .navigation .category__item, .header .navigation .sns__item {
  font-size: 14px;
  margin-bottom: 23px;
}
@media screen and (min-width: 960px) {
  .header .navigation {
    position: fixed;
    left: 0;
    opacity: 1;
    padding: 40px 45px;
    transition: none;
  }
}
.header .navigation.visible {
  transform: translateX(300px);
  opacity: 1;
}
@media screen and (min-width: 960px) {
  .header .navigation.visible {
    left: -300px;
  }
}

@media screen and (min-width: 960px) {
  main {
    flex: 1;
  }
}
main .mainvideo {
  position: relative;
  height: 528px;
}
@media screen and (min-width: 960px) {
  main .mainvideo {
    height: 100vh;
  }
}
main .mainvideo .mv {
  position: fixed;
  width: 100%;
  height: 528px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 50%;
     object-position: 0 50%;
  z-index: -10;
}
@media screen and (min-width: 960px) {
  main .mainvideo .mv {
    left: 300px;
    height: 100vh;
  }
}
main .bg-black {
  background: linear-gradient(rgba(84, 84, 84, 0.3019607843), rgba(0, 0, 0, 0.8));
}
main .bg-black .examples {
  padding: 0 20px;
  margin: 0 auto 93px auto;
}
@media screen and (min-width: 960px) {
  main .bg-black .examples {
    margin-bottom: 50px;
  }
}
main .bg-black .examples__title {
  color: white;
}
main .bg-black .examples__title::before {
  background-color: white;
}
main .bg-black .examples__title::after {
  background-color: white;
}
main .bg-black .examples__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
@media screen and (min-width: 960px) {
  main .bg-black .examples__body {
    flex-direction: row;
  }
}
main .bg-black .examples__item {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid white;
}
main .bg-black .examples__item__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 -30px 15px #2E2E2E;
}
main .bg-black .examples__item__link::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 7px;
  font-size: 12px;
  color: white;
}
main .bg-black .examples__item__link.link1::after {
  content: "PROJECT_01";
}
main .bg-black .examples__item__link.link2::after {
  content: "PROJECT_02";
}
main .bg-black .examples__item__link.link3::after {
  content: "PROJECT_03";
}
main .bg-black .examples__item__link.link4::after {
  content: "PROJECT_04";
}
@media screen and (min-width: 960px) {
  main .bg-black .examples__item {
    width: 46.7%;
  }
}
main .bg-black .features {
  padding: 0 20px 124px 20px;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  main .bg-black .features {
    padding-bottom: 164px;
  }
}
main .bg-black .features__title {
  color: white;
  margin-bottom: 34px;
}
main .bg-black .features__title::before {
  background-color: white;
}
main .bg-black .features__title::after {
  background-color: white;
}
main .bg-black .features__body {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}
main .bg-black .features__item {
  width: 30%;
}
main .bg-black .features__item__eyecatch {
  width: 100%;
  padding-top: 100%;
  margin-bottom: 18px;
  position: relative;
  border-radius: 50%;
  border: 1px solid white;
}
main .bg-black .features__item__eyecatch .eyecatchitem {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
}
main .bg-black .features__item__title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 13px;
  text-align: center;
}
main .bg-black .features__item__body {
  font-size: 14px;
  color: white;
  text-align: center;
}
main .bg-white {
  background-color: white;
}
main .bg-white .flow {
  padding: 0 20px;
  margin: 0 auto;
}
main .bg-white .flow__title {
  margin-bottom: 40px;
}
@media screen and (min-width: 960px) {
  main .bg-white .flow__title {
    padding-top: 125px;
    margin-bottom: 72px;
  }
  main .bg-white .flow__title::before {
    top: 139px;
  }
  main .bg-white .flow__title::after {
    top: 139px;
  }
}
main .bg-white .flow__description {
  margin-bottom: 35px;
  color: #121212;
}
@media screen and (min-width: 960px) {
  main .bg-white .flow__description {
    margin-bottom: 65px;
  }
}
main .bg-white .flow__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  main .bg-white .flow__content {
    flex-direction: row;
  }
}
main .bg-white .flow__chart {
  list-style: none;
  padding-left: 0;
  position: relative;
  margin-bottom: 83px;
}
@media screen and (min-width: 960px) {
  main .bg-white .flow__chart {
    width: 23.3%;
  }
}
main .bg-white .flow__chart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 100%;
  background-color: #FFDD00;
}
main .bg-white .flow__chart__item {
  margin: 0 20px 60px 20px;
}
main .bg-white .flow__chart__item:last-child {
  margin-bottom: 0;
}
main .bg-white .flow__chart__item__eyecatch {
  height: 80px;
  position: relative;
  background-color: #414141;
}
main .bg-white .flow__chart__item__eyecatch::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #414141;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
}
@media screen and (min-width: 960px) {
  main .bg-white .flow__chart__item__eyecatch {
    height: 90px;
  }
}
main .bg-white .flow__chart__item__eyecatch .eyecatchitem {
  color: white;
  text-align: center;
  line-height: 80px;
}
main .bg-white .flow__body {
  list-style: none;
  padding-left: 0;
}
@media screen and (min-width: 960px) {
  main .bg-white .flow__body {
    width: 69.9%;
  }
}
main .bg-white .flow__body__item {
  display: flex;
}
main .bg-white .flow__body__item__num {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #414141;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
}
main .bg-white .flow__body__item__content {
  flex: 1;
  padding-left: 10px;
  margin-bottom: 51px;
}
@media screen and (min-width: 960px) {
  main .bg-white .flow__body__item__content {
    margin-bottom: 54px;
  }
}
main .bg-white .flow__body__item__content .contenttitle {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 28px;
  color: #121212;
}
main .bg-white .flow__body__item__content .contenttitle::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #121212;
}
main .bg-white .flow__body__item__content .contentbody {
  padding-right: 10px;
  font-size: 16px;
  color: #121212;
}
main .bg-white .contact {
  padding: 0 20px;
  margin: 0 auto;
  padding-bottom: 230px;
}
main .bg-white .contact__title {
  margin-bottom: 40px;
}
@media screen and (min-width: 960px) {
  main .bg-white .contact__title {
    margin-bottom: 72px;
  }
}
main .bg-white .contact__description {
  font-size: 16px;
  color: #121212;
  margin-bottom: 35px;
}
@media screen and (min-width: 960px) {
  main .bg-white .contact__description {
    margin-bottom: 65px;
  }
}
main .bg-white .contact__kinds {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
}
@media screen and (min-width: 960px) {
  main .bg-white .contact__kinds {
    flex-direction: row;
    justify-content: space-between;
  }
}
main .bg-white .contact__kinds__item {
  position: relative;
  height: 192px;
  width: 65%;
  border: 1px solid #121212;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 960px) {
  main .bg-white .contact__kinds__item {
    width: 30%;
  }
}
main .bg-white .contact__kinds__item::after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  background-color: #414141;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
main .bg-white .contact__kinds__item__link {
  display: block;
  height: 100%;
}
main .bg-white .contact__kinds__item__icon {
  padding-top: 50px;
  margin: 0 auto;
}

.footer {
  background-color: #414141;
  position: relative;
}
.footer .footnav {
  list-style: none;
  padding: 50px 20px 64px 20px;
  text-align: center;
}
.footer .footnav__item {
  position: relative;
  display: inline-block;
  margin: 0 40px 10px 0;
}
.footer .footnav__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: -22px;
  bottom: 0;
  width: 1px;
  background-color: white;
}
.footer .footnav__item:last-child::after {
  display: none;
}
.footer .footnav__item__link {
  color: white;
}
.footer .copy {
  text-align: center;
  color: white;
  padding-bottom: 22px;
}
.footer .go_top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}
.footer .go_top::after {
  content: "";
  position: fixed;
  bottom: 46px;
  right: 43px;
  width: 14px;
  height: 7px;
  -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  background-color: white;
}