@use "common" as *;
a{
    text-decoration: none;
    color: $cBlack;
}

.visible-sp{
    @media screen and (min-width: $breakpoints){
        display: none;
    }  
}

.visible-pc{
    display: none;
    @media screen and (min-width: $breakpoints){
        display: block;
    }  
}

#container{
    @media screen and (min-width: $breakpoints){
        display: flex;
    }  
}

.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: $cWhite;
    width: 100%;
    height: 72px;
    padding: 0 18px;
    z-index: 20;

    @media screen and (min-width: $breakpoints){
        position: static;
        width: 300px;
    }

    & .logo{
        
        & .logo_img{
            width: 180px;
        }
    }

    & .hamburger{
        cursor: pointer;

        @media screen and (min-width: $breakpoints){
            display: none;
        }

        & .line{
            display: block;
            width: 30px;
            height: 2px;
            background-color: $cBlack;

            &:first-child{
                margin-bottom: 8px;
            }
            &:last-child{
                margin-top: 8px;
            }
        }

    }

    & .navigation{
        z-index: 50;
        top: 0;
        left: -300px;
        position: absolute;
        height: 100vh;
        width: 300px;
        padding: 25px;
        background-color: $cWhite;
        opacity: 0;
        transition: all 0.5s ease;

        & h1{
            margin-bottom: 41px;
        }

        & .category, .sns{
            list-style: none;
            padding-left: 0;
            &:first-of-type{
                margin-bottom: 84px;
            }
            &__item{
                font-size: 14px;
                margin-bottom: 23px;
            }
        }
        @media screen and (min-width: $breakpoints){
            position: fixed;
            left: 0;
            opacity: 1;
            padding: 40px 45px;
            transition: none;
        }

        &.visible{
            transform: translateX(300px);
            opacity: 1;
            @media screen and (min-width: $breakpoints){
                left: -300px;
            }
        }
        
    }

}

main{
    @media screen and (min-width: $breakpoints){
        flex: 1;
    } 

    & .mainvideo{
        position: relative;
        height: 528px;
        @media screen and (min-width: $breakpoints){
            height: 100vh;
        }

        & .mv{
            position: fixed;
            width: 100%;
            height: 528px;
            object-fit: cover;
            object-position: 0 50%;
            z-index: -10;
            @media screen and (min-width: $breakpoints){
                left: 300px;
                height: 100vh;
            } 
        }
    }

    & .bg-black{
        background: linear-gradient($cBgLight, $cBgDark);

        & .examples{
            padding: 0 20px;
            margin: 0 auto 93px auto;
            @media screen and (min-width:$breakpoints) {
                margin-bottom: 50px;
            }

            &__title{
                color: $cWhite;
                &::before{
                    background-color: $cWhite;
                }
                &::after{
                    background-color: $cWhite;
                }
            }
    
            &__body{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                list-style: none;
                padding-left: 0;
                @media screen and (min-width:$breakpoints) {
                    flex-direction: row;
                }
            }
    
            &__item{
                position: relative;
                margin-bottom: 30px;
                border: 1px solid $cWhite;

                &__link{
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        box-shadow: inset 0 -30px 15px $cShadow;
                    }
    
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 4px;
                        left: 7px;
                        font-size: 12px;
                        color: $cWhite;
                    }
                    &.link1{
                        &::after{
                            content: 'PROJECT_01';
                        }
                    }
                    &.link2{
                        &::after{
                            content: 'PROJECT_02';
                        }
                    }
                    &.link3{
                        &::after{
                            content: 'PROJECT_03';
                        }
                    }
                    &.link4{
                        &::after{
                            content: 'PROJECT_04';
                        }
                    }
                }


                @media screen and (min-width:$breakpoints) {
                    width: 46.7%;
                }
            }
        }

        & .features{
            padding: 0 20px 124px 20px;
            margin: 0 auto;
            @media screen and (min-width:$breakpoints) {
                padding-bottom: 164px;
            }

            &__title{
                color: $cWhite;
                margin-bottom: 34px;
                &::before{
                    background-color: $cWhite;
                }
                &::after{
                    background-color: $cWhite;
                }
            }

            &__body{
                display: flex;
                justify-content: space-between;
                list-style: none;
                padding-left: 0;
            }

            &__item{
                width: 30%;

                &__eyecatch{
                    width: 100%;
                    padding-top: 100%;
                    margin-bottom: 18px;
                    position: relative;
                    border-radius: 50%;
                    border: 1px solid $cWhite;
                    
                    & .eyecatchitem{
                        position: absolute;
                        display: block;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 14px;
                        color: $cWhite;
                    }

                }

                &__title{
                    font-size: 16px;
                    font-weight: bold;
                    color: $cWhite;
                    margin-bottom: 13px;
                    text-align: center;
                }

                &__body{
                    font-size: 14px;
                    color: $cWhite;
                    text-align: center;
                }
            }
        }
    }

    & .bg-white{
        background-color: $cWhite;

        & .flow{
            padding: 0 20px;
            margin: 0 auto;
    
            &__title{
                margin-bottom: 40px;
                @media screen and (min-width:$breakpoints) {
                    padding-top: 125px;
                    margin-bottom: 72px;
                    &::before{
                        top: 139px;
                    }
                    &::after{
                        top: 139px;
                    }
                }
            }
    
            &__description{
                margin-bottom: 35px;
                color: $cBlack;
                @media screen and (min-width:$breakpoints) {
                    margin-bottom: 65px;
                }
            }
    
            &__content{
                display: flex;
                flex-direction: column;
                @media screen and (min-width:$breakpoints) {
                    flex-direction: row;
                }
            }
    
            &__chart{
                list-style: none;
                padding-left: 0;
                position: relative;
                margin-bottom: 83px;
                @media screen and (min-width:$breakpoints) {
                    width: 23.3%;
                }
    
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50px;
                    height: 100%;
                    background-color: $cChartYellow;
                }
    
                &__item{
                    margin: 0 20px 60px 20px;
                    &:last-child{
                        margin-bottom: 0;
                    }
    
                    &__eyecatch{
                        height: 80px;
                        position: relative;
                        background-color: $cBgBlack;
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: -30px;
                            left: 0;
                            width: 100%;
                            height: 30px;
                            background-color: $cBgBlack;
                            clip-path: polygon(0 0, 100% 0, 50% 100%);
                        }
                        @media screen and (min-width:$breakpoints) {
                            height: 90px;
                        }
    
                        & .eyecatchitem{
                            color: $cWhite;
                            text-align: center;
                            line-height: 80px;
                        }
                    }
                }
            }
    
            &__body{
                list-style: none;
                padding-left: 0;
                @media screen and (min-width:$breakpoints) {
                    width: 69.9%;
                }
    
                &__item{
                    display: flex;
    
                    &__num{
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: $cBgBlack;
                        color: $cWhite;
                        font-size: 16px;
                        text-align: center;
                        line-height: 35px;
                    }
    
                    &__content{
                        flex: 1;
                        padding-left: 10px;
                        margin-bottom: 51px;
                        @media screen and (min-width:$breakpoints) {
                            margin-bottom: 54px;
                        }
    
                        & .contenttitle{
                            position: relative;
                            font-size: 20px;
                            line-height: 20px;
                            margin-bottom: 28px;
                            color: $cBlack;
    
                            &::after{
                                content: '';
                                position: absolute;
                                bottom: -15px;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background-color: $cBlack;
                            }
                        }
    
                        & .contentbody{
                            padding-right: 10px;
                            font-size: 16px;
                            color: $cBlack;
                        }
                    }
                }
            }
        }
    
        & .contact{
            padding: 0 20px;
            margin: 0 auto;
            padding-bottom: 230px;
            &__title{
                margin-bottom: 40px;
                @media screen and (min-width: $breakpoints){
                    margin-bottom: 72px;
                }  
            }
    
            &__description{
                font-size: 16px;
                color: $cBlack;
                margin-bottom: 35px;
                @media screen and (min-width: $breakpoints){
                    margin-bottom: 65px;
                }  
            }
    
            &__kinds{
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                padding-left: 0;
                @media screen and (min-width: $breakpoints){
                    flex-direction: row;
                    justify-content: space-between;
                }  
    
                &__item{
                    position: relative;
                    height: 192px;
                    width: 65%;
                    border: 1px solid $cBlack;
                    margin-bottom: 20px;
                    text-align: center;
                    @media screen and (min-width: $breakpoints){
                        width: 30%;
                    }  
    
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 4px;
                        right: 4px;
                        width: 20px;
                        height: 20px;
                        background-color: $cBgBlack;
                        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    
                    }
    
                    &__link{
                        display: block;
                        height: 100%;
                    }
    
                    &__icon{
                        padding-top: 50px;
                        margin: 0 auto;
                    }
                    
                }
            }
        }
    }


    

}

.footer{
    background-color: $cBgBlack;
    position: relative;
    & .footnav{
        list-style: none;
        padding: 50px 20px 64px 20px;
        text-align: center;

        &__item{
            position: relative;
            display: inline-block;
            margin: 0 40px 10px 0;
            &::after{
                content: '';
                position: absolute;
                top: 0;
                right: -22px;
                bottom: 0;
                width: 1px;
                background-color: $cWhite;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            &__link{
                color: $cWhite;
            }

        }
    }
    & .copy{
        text-align: center;   
        color: $cWhite;
        padding-bottom: 22px;
    }
    & .go_top{
        position: fixed;
        bottom: 25px;
        right: 25px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $cWhite;
        &::after{
            content: '';
            position: fixed;
            bottom: 46px;
            right: 43px;
            width: 14px;
            height: 7px;
            clip-path: polygon(50% 0, 0% 100%, 100% 100%);
            background-color: $cWhite;


        }
    }
}